@import url(slider.css);
@import url(reset.css);
@import url(joy_stick.css);
body {
    background-image: url(/img/backgroung.png); 
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    margin-top: 400px;
    transform: scale(1.2);
    overflow-x: hidden;
}