@import url(slider.css);
@import url(reset.css);

body {
    background-image: url(/img/backgroung.png); 
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}